@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.PersonnelManagementSystemRoot>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<table >
    <tr>
        <th>員工代碼</th>
        <td><input type="text" /></td>
    </tr>
    <tr>
        <th>密碼</th>
        <td><input type="text" /></td>
    </tr>
    <tr>
        <td colspan="2"><button><i class="fas fa-user-alt"></i>登入</button></td>
    </tr>
</table>
