<?xml version="1.0" encoding="utf-8"?>
<uSync Name="Startup" DateTime="2019年12月26日 上午 01:43:25">
  <Actions>
    <Action Change="Export" Success="true" Message="" Name="List View - Members" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="List View - Media" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="List View - Content" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Numeric" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Checkbox" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Checkbox list" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Dropdown" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Date Picker" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Radiobox" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Dropdown multiple" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Approved Color" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Date Picker with time" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Tags" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Image Cropper" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Content Picker" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Member Picker" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Media Picker" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Multiple Media Picker" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Related Links" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Richtext editor" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Content Grid" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Main Carousel" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Textstring" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Textarea" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Upload" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Label" Type="IDataTypeDefinition" />
    <Action Change="Export" Success="true" Message="" Name="Article" Type="ITemplate" />
    <Action Change="Export" Success="true" Message="" Name="Article List" Type="ITemplate" />
    <Action Change="Export" Success="true" Message="" Name="Contact" Type="ITemplate" />
    <Action Change="Export" Success="true" Message="" Name="Content" Type="ITemplate" />
    <Action Change="Export" Success="true" Message="" Name="Home" Type="ITemplate" />
    <Action Change="Export" Success="true" Message="" Name="Master" Type="ITemplate" />
    <Action Change="Export" Success="true" Message="" Name="Pretty Link" Type="ITemplate" />
    <Action Change="Export" Success="true" Message="" Name="Search" Type="ITemplate" />
    <Action Change="Export" Success="true" Message="" Name="Article Controls" Type="IContentType" />
    <Action Change="Export" Success="true" Message="" Name="Content Controls" Type="IContentType" />
    <Action Change="Export" Success="true" Message="" Name="Disable Controls" Type="IContentType" />
    <Action Change="Export" Success="true" Message="" Name="Footer Content Controls" Type="IContentType" />
    <Action Change="Export" Success="true" Message="" Name="Latest Articles Controls" Type="IContentType" />
    <Action Change="Export" Success="true" Message="" Name="Meta Data Controls" Type="IContentType" />
    <Action Change="Export" Success="true" Message="" Name="Navigation Controls" Type="IContentType" />
    <Action Change="Export" Success="true" Message="" Name="Pretty Link Controls" Type="IContentType" />
    <Action Change="Export" Success="true" Message="" Name="Slide Image Controls" Type="IContentType" />
    <Action Change="Export" Success="true" Message="" Name="Slide Link Controls" Type="IContentType" />
    <Action Change="Export" Success="true" Message="" Name="Slide Subtitle Controls" Type="IContentType" />
    <Action Change="Export" Success="true" Message="" Name="Slide Title Controls" Type="IContentType" />
    <Action Change="Export" Success="true" Message="" Name="Umbraco Url Alias Controls" Type="IContentType" />
    <Action Change="Export" Success="true" Message="" Name="Carousel Slide" Type="IContentType" />
    <Action Change="Export" Success="true" Message="" Name="Carousel Controls" Type="IContentType" />
    <Action Change="Export" Success="true" Message="" Name="Search" Type="IContentType" />
    <Action Change="Export" Success="true" Message="" Name="Article" Type="IContentType" />
    <Action Change="Export" Success="true" Message="" Name="Article List" Type="IContentType" />
    <Action Change="Export" Success="true" Message="" Name="Contact" Type="IContentType" />
    <Action Change="Export" Success="true" Message="" Name="Content" Type="IContentType" />
    <Action Change="Export" Success="true" Message="" Name="Home" Type="IContentType" />
    <Action Change="Export" Success="true" Message="" Name="Pretty Link" Type="IContentType" />
    <Action Change="Export" Success="true" Message="" Name="Folder" Type="IMedia" />
    <Action Change="Export" Success="true" Message="" Name="Image" Type="IMedia" />
    <Action Change="Export" Success="true" Message="" Name="File" Type="IMedia" />
    <Action Change="Export" Success="true" Message="" Name="en-US" Type="ILanguage" />
  </Actions>
</uSync>